#caixa{
    background-color: #bbb;
    border: 3px solid #000;
    border-radius: 12px;
    padding: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.subcaixa{
    width: 100px;
    height: 100px;
    margin: 0 0 10px 10px;
    border: 1px solid;
}