*{
    margin: 0;
    padding: 0;
}

.menu{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#menus{
    display: flex;
    width: 100%;
    background-color: #888;
}

.btnMenu{
    margin: 8px;
    padding: 8px;
    cursor: pointer;
}

#controle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #888;
    padding: 8px;
    border-radius: 0 0 12px 12px;
    margin-left: 12px;
    margin-right: auto;
}

#controle button{
    margin: 4px;
}