*{
    margin: 0;
    padding: 0;
}

div{
    border: 1px solid #f00;
    padding: 8px;
}

p{
    border: 1px solid #00f;
    padding: 8px;
}

span{
    border: 1px solid #0f0;
    padding: 8px;
}

/* 
    rgb - "Vermelho - #f00", "Verde - #0f0" e "Azul - #00f" 
*/